html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.outer {
  height: 100vh;
  display: flex;
}
.break-area {
  height: auto;
  flex: 1;
  background-color: #FB9C6C;
}
.work-area {
  height: auto;
  flex: 1;
  background-color: #31809F;
}
