html, body {
  font-family: Courier, Courier New, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 2em;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.break-area--default {
  background-color: #31809F;
}
.flex-container {
  display: flex;
  height: 100vh;
}
.flex-container__div--side {
  flex: 1;
  height: auto;
  justify-content: center;
  text-align: center;
}
.flex-container__div--center {
  align-self: center;
  height: auto;
}
.flex-container__span{
  align-self: center;
  height: auto;
}
.start-stop {
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
.start-stop__span {
  color:#FF6347;
  font-size: 1.5em;
}
.pointer:hover {
  cursor: pointer;
}
.work-area--default {
  background-color: #FB9C6C;
}
.break-area--darkBlue {
  color: black;
  background-color: #184D68;
}
.break-area--lightBlue {
  color: white;
  background-color: #31809F;
}
.work-area--darkOrange {
  color: black;
  background-color: #D55121
}
.work-area--lightOrange {
  color: white;
  background-color: #FB9C6C;
}
.seen {
  color: #ff6347;
}
.seen:hover {
  cursor: pointer;
}
.unseen {
  visibility: hidden;
}
